*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 120vh;
  /* padding-top: 200px; --> */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #1d131f;
}

header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  z-index: 999999;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar a {
  width: 6rem;
  height: 6rem;
  padding: 2.2rem 2.2rem;
  margin: 0 1rem;
  text-decoration: none;

  /* Flexbox for centering */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally centers text */
  align-items: center; /* Vertically centers text */

  color: #f5f5f5;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 0.7rem;
  line-height: 1.5;
  transition: background-color 0.3s ease;     /* Smooth color change on hover */
}

nav a:hover {
  background-color: #321b27;
}

.intro-container {
  text-align: center;
  color: #f5f5f5;
  margin-top: 0%;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  line-height: 1.5;
}

.intro-container h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 1.7rem;
}

.genre-container {
  width: 21.1rem;     /*take .songs-container width and subtract by the 2*margin*/
  border-radius: 0.7rem;
  flex-wrap: wrap; /* Allows items to wrap to a new line if needed */
  margin: auto; /* Center the container itself */

  background-color: #321b27;
  text-align: center;
  color: #f5f5f5;
}

.genre-image {
  padding: 0.45rem;
  padding-bottom: 0;
  width: 100%; /* Ensures the image takes up the full width */
  object-fit: cover;
}

.genre-image img {
  border-radius: 0.5rem; /* Inherits the parent's border radius */
}

.genre-container h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 1.7rem;
  padding-bottom: 0.45rem;
}

.genre-container p {
  padding-bottom: 0.9rem;
  padding-left: 5%;
  padding-right: 5%;
}

.songs-container {
  padding-top: 1rem;
  padding-bottom: 7rem;
  width: 22rem;
  display: flex;
  justify-content: flex-start; /* Align items starting from the left */
  align-items: center; /* Vertically center items */
  flex-wrap: wrap; /* Allows items to wrap to a new line if needed */
  margin: auto; /* Center the container itself */
}

.songs-box a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #321b27;
  margin: 0.45rem; /* Calculate this by taking container width (22), divide by amount of boxes per row (5) and subtracting box width (3.5) and dividing by 2 to get the margin  */
  border-radius: 0.7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 1.3rem;
  color: #f5f5f5;
  transition: background-color 0.3s ease;     /* Smooth color change on hover */
}

.songs-box a:hover {
  background-color: #4a2d36;
}

footer {
  color: #f5f5f5;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}



@media (max-width: 400px) {
  .intro-container {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.9rem;
  }
  .intro-container h1{
    font-size: 1.6rem;
  }
  .genre-container {
    width: 19rem;          /*take .songs-container width and subtract by the 2*margin*/
  }
  .songs-container {
    width: 20rem;
  }
  .songs-box a {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
  }
  
}